*{
    margin:0;
    padding:0;
}
body{
    background-color: #415B78;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color:whitesmoke;
    margin:20px;
   font-size: xxx-large;
   font-weight: 700;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.main-container{
    width: 70%;
  text-align: center;
    margin:auto;
   
}

.main-container img{
    width: 80px;
    border-radius: 50%;
}
.input{
    display: flex;
    justify-content: space-around;

}
.main{
   
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    justify-content: center;
    
  
    

   
}
.play-ground{
    border:10px solid powderblue;
    border-radius: 20px;
    border-style:ridge;
    padding:5px;
}
.num{
  
    border-radius: 10px;
    border: 2px solid rgb(81, 158, 168);
    font-size: medium;
    color:white;
   padding: 10px;
   margin: 5px;
   font-weight: 400;
   background-color:rgb(42, 42, 42);

    
   
}
.play-area{
    display: flex;
    justify-content: space-around;
  
}
.play-area h3{
    font-size: larger;
    font-style: oblique;
    color:white;
    margin:5px 0;
}
.play-area img {
    width: 300px;
    height: 300px;
}

.button, .score{
    padding:20px 50px;
    background-color: rgb(220, 215, 215);
    color:#415B78;
    font-weight: 600;
    font-style: oblique;
    font-size: xx-large;
    border-radius: 20px;
    border:5px #869db8 solid;
    margin-top:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}